<div class="container-fluid">
  <div class="row">
    <%= render 'admin/sidebar' %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <%= render partial: 'admin/header' , locals: {title: 'Subcategory detail'} %>
      <%= render @subcategory %>
      <div>
        <%= link_to "Edit this subcategory", edit_admin_subcategory_path(@subcategory), class: "btn btn-info" %>
        <%= link_to "Destroy this subcategory", admin_subcategory_url(@subcategory), method: :delete, class: "btn btn-danger" %>
      </div>
    </main>
  </div>
</div>
