<%= form_with(model: [:admin, article]) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table">
  <tr>
    <td><%= form.label "#{:name}: ", style: "display: block", class:"pe-2" %></td>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <td><%= form.label :sku, style: "display: block" %></td>
    <td><%= form.text_field :sku %></td>
  </tr>
  <tr>
    <td><%= form.label :barcode, style: "display: block" %></td>
    <td><%= form.text_field :barcode %></td>
  </tr>
  <tr>
    <td><%= form.label :slug, style: "display: block" %></td>
    <td><%= form.text_field :slug %></td>
  </tr>
  <tr class="field">
    <td><%= form.label :description, style: "display: block" %></td>
    <td><%= form.rich_text_area :description %></td>
  </tr>
  <tr>
    <td><%= form.label :published, style: "display: block" %></td>
    <td><%= form.check_box :published %></td>
  </tr>
  <tr>
    <td><%= form.label :visible, style: "display: block" %></td>
    <td><%= form.check_box :visible %></td>
  </tr>
  <tr>
    <td><%= form.label :price, style: "display: block" %></td>
    <td><%= form.number_field :price %></td>
  </tr>
  <tr>
    <td><%= form.label :stock, style: "display: block" %></td>
    <td><%= form.number_field :stock %></td>
  </tr>
  <tr>
    <td><%= form.label :brand_id, style: "display: block" %></td>
    <td><%= form.collection_select :brand_id, Brand.order(:name), :id, :name %></td>
  </tr>
  <tr>
    <td>Category / Subcategory</td>
    <td>
    <% options = option_groups_from_collection_for_select(Category.order(:name).all, :subcategories, :name, :id, :name, article.subcategory_id) %>
    <%= select('article', :subcategory_id, options, include_blank: true) %>

    </td>
  </div>

  <tr>
    <td><%= form.label :image_cover, style: "display: block" %></td>
    <td><%= form.file_field :image_cover %></td>
  </tr>

  <tr>
    <td><%= form.label :images, style: "display: block" %></td>
    <td><%= form.file_field :images, multiple: true %></td>
  </tr>

</table>
    <td><%= form.submit class: "btn btn-success my-4" %></td>

<% end %>
