<div class="container-fluid">
  <div class="row">
    <%= render 'admin/sidebar' %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <%= render partial: 'admin/header' , locals: {title: 'Article detail'}%>
      <%= render @article %>
      <div>
        <%= link_to "Edit this article", edit_admin_article_path(@article) %>
        <%= button_to "Destroy this article", admin_article_url(@article), method: :delete %>
      </div>
    </main>
  </div>
</div>
