<div class="container-fluid">
  <div class="row">
    <%= render 'admin/sidebar' %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <%= render partial: 'admin/header' , locals: {title: 'Category detail'} %>
      <%= render @category %>
      <%= link_to "Edit this category", edit_admin_category_path(@category), class: "btn btn-info" %>
      <%= link_to "Destroy this category", admin_category_url(@category), method: :delete, class: "btn btn-danger" %>
    </main>
  </div>
</div>
