<div id="<%= dom_id brand %>">
  <p>
    <strong>Name:</strong>
    <%= brand.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= brand.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= brand.image %>
  </p>

  <p>
    <strong>Cover image:</strong>
    <%= brand.cover_image %>
  </p>

</div>
